<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUri" value="http://localhost:3030"/>
		<add key="SqlClientPath" value="Data Source=E:\NodeJsTestingProjects\BestBuy API\api-playground\dataset.sqlite; Version = 3; New = True; Compress = True;"/>
		<add key ="APIServerPath" value="E:\NodeJsTestingProjects\BestBuy API\api-playground"/>
		<add key="ServerCommand" value="npm start"/>
	</appSettings>
</configuration>